* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make sure html & body fill the screen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* App wrapper MUST have a height */
#app {
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.slide {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.slide iframe,
.slide img {
    max-width: 100%;
    max-height: 100%;
}

.slide h1 {
    margin-bottom: 15px;
    flex-shrink: 0;
}

.home {
    background: #1e1e1e;
    color: white;
}

.about {
    background: #f4f4f4;
}


.contact {
    background: #333;
    color: white;
}

.calendar {
    background: #fff;
}

.calendar-container,
.map-container {
    width: 100%;
    flex: 1; /* TAKE AVAILABLE SPACE */
    display: flex;
}

.calendar-container iframe,
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.location {
    background: #f4f4f4;
}

    .location select {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 15px;
    }

.map-container {
    width: 100%;
    max-width: 900px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@supports (height: 100svh) {
    .slide {
        height: 100svh;
    }
}
